<ion-header>
  <ion-toolbar>
    <ion-title>{{ isLogin ? 'Login' : 'Signup' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form
    #form="ngForm"
    (ngSubmit)="onSubmit(form)"
  >
    <ion-grid>

      <ion-row>
        <ion-col
          size-sm="4"
          offset-sm="4"
        >

          <ion-list class="ion-margin-bottom">

            <ion-item>
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input
                ngModel
                type="email"
                name="email"
                required
                email
                #emailCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              lines="none"
              *ngIf="!emailCtrl.valid && emailCtrl.touched"
            >
              <ion-label
                color="danger"
                class="form__error-label"
              >Should be a valid E-Mail address</ion-label>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                ngModel
                type="password"
                name="password"
                required
                minlength="6"
                #passwordCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              lines="none"
              *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
            >
              <ion-label
                color="danger"
                class="form__error-label"
              >Password should have a minimun of 6 characters</ion-label>
            </ion-item>

          </ion-list>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col
          size-sm="4"
          offset-sm="4"
        >

          <ion-button
            color="primary"
            fill="clear"
            expand="block"
            type="button"
            (click)="onSwitchAuthMode()"
          >
            Switch to {{ isLogin ? 'Signup' : 'Login' }}
          </ion-button>

          <ion-button
            color="primary"
            expand="block"
            type="submit"
            [disabled]="!form.valid"
            (click)="onLogin()"
          >
            {{ isLogin ? 'Login' : 'Signup' }}
          </ion-button>

        </ion-col>
      </ion-row>

    </ion-grid>
  </form>


</ion-content>
