<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers">
      </ion-back-button>
    </ion-buttons>

    <ion-title>New Offer</ion-title>

    <ion-buttons slot="primary">
      <ion-button
        (click)="onCreateOffer()"
        [disabled]="!form.valid"
      >
        <ion-icon
          name="checkmark"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col
          size-sm="6"
          offset-sm="3"
        >
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input
              type="text"
              autocomplete
              autocorrect
              formControlName="title"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          size-sm="6"
          offset-sm="3"
        >
          <ion-item>
            <ion-label position="floating">Short Description</ion-label>
            <ion-textarea
              formControlName="description"
              rows="3"
              #textarea
              (keyup)="onKeyPress(textarea.value)"
            ></ion-textarea>
            <ion-note class="ion-padding ion-align-self-end">
              {{ descriptionLength }} / 180
            </ion-note>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row
        *ngIf="form.get('description').hasError('maxlength') && form.get('description').touched"
      >
        <ion-col
          size-sm="6"
          offset-sm="3"
        >
          <ion-item lines="none">
            <ion-label
              class="ion-text-wrap"
              color="danger"
            >The Description must not be longer than 180 characters</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          size-sm="6"
          offset-sm="3"
        >
          <ion-item>
            <ion-label position="floating">Price</ion-label>
            <ion-input
              formControlName="price"
              type="number"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          size-sm="3"
          offset-sm="3"
        >
          <ion-item>
            <ion-label position="floating">Available from</ion-label>
            <ion-datetime
              min="2019-01-01"
              max="2025-12-31"
              formControlName="dateFrom"
            ></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3">
          <ion-item>
            <ion-label position="floating">Available to</ion-label>
            <ion-datetime
              min="2019-01-02"
              max="2025-12-31"
              formControlName="dateTo"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          size-sm="3"
          offset-sm="3"
        >
        <app-loaction-picker></app-loaction-picker>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
