<ion-item>
  <ion-thumbnail slot="start">
    <ion-img [src]="offer.imageUrl"></ion-img>
  </ion-thumbnail>

  <ion-label>
    <h2>{{ offer.title }}</h2>
    <p class="offer-details">
      <ion-icon name="calendar"></ion-icon>
      <ion-text class="space-left">{{ offer.availableFrom | date }}</ion-text>
      <span class="space-left">to</span>
      <ion-icon
        name="calendar"
        class="space-left"
      ></ion-icon>
      <ion-text class="space-left">{{ offer.availableTo | date }}</ion-text>
    </p>
  </ion-label>
</ion-item>
